Source: urxvt-ext-notify-osc
Section: x11
Priority: optional
Maintainer: Leandro Lisboa Penz <lpenz@lpenz.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.3
Homepage: http://github.com/lpenz/urxvt-ext-notify-osc
Vcs-Git: git://github.com/lpenz/urxvt-ext-notify-osc.git
Vcs-Browser: http://github.com/lpenz/urxvt-ext-notify-osc

Package: urxvt-ext-notify-osc
Architecture: any
Depends: rxvt-unicode, libnotify-bin, ${misc:Depends}
Recommends: xseturgent
Description: urxvt OSC extension for desktop notifications
 urxvt-ext-notify-osc is a urxvt OSC extension for desktop
 notifications.
 .
 In essence, this means that whenever a process prints a string like
 the following:
 .
 printf '\e]777;notify;alert user;the tea is ready\a'
 .
 urxvt creates a desktop notification with alert notification as
 summary and the tea is ready as the body. The terminal window also
 get its urgency hint set, which makes the window manager call your
 attention to it.
 .
 This works well even when a remote program in an ssh session prints
 the string. There is no dependency on X forwarding.
